<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.newblue">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MODE_WORLD_READABLE"/>
    <uses-permission android:name="android.permission.MODE_WORLD_WRITEABLE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 允许程序访问网络连接，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许程序获取当前WiFi接入的状态以及WLAN热点的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许程序连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- 允许程序发现和配对蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <!-- 允许程序写入外部存储,如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许程序访问摄像头进行拍照 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 允许一个应用程序知道什么是播放和控制其内容。不被第三方应用使用。 -->
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <!-- 允许程序修改声音设置信息 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <!-- 获取联系人信息，demo中演示发送通讯录消息 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:process="com.example.newblue"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".BluthPrintActivity">

        </activity>

        <receiver android:name=".receive.DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.gprinter.service.GpPrintService"
            android:enabled="true"
            android:exported="true"
            android:label="GpPrintService">
            <intent-filter>
                <action android:name="com.gprinter.aidl.GpPrintService"/>
            </intent-filter>
        </service>
        <service android:name="com.gprinter.service.AllService"/>
        <service
            android:name=".server.BlueToothService"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="com.ds.bluetooth"/>
            </intent-filter>
        </service>

        <!-- 跳转心电界面 -->
        <activity android:name=".JumpAvtivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="800"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>

        <!-- 心电仪 -->
        <activity
            android:name=".jumppart.Jc_Ecm"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
             />
        <!-- 12导心电仪 -->
        <activity
            android:name=".jumppart.Jc_Ecmxii"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <!--12导心电波形监测的SDK -->
        <activity
            android:name=".jumppart.GLActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--12导心电波形查看-->
        <activity
            android:name=".jumppart.EcmXIIWaveViewerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <!-- 胎心仪 -->
        <activity
            android:name=".jumppart.Jc_Bab"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- 汇声B超 -->
        <activity
            android:name="com.healon.up20user.UI.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <!-- 汇声B超编辑 -->
        <activity
            android:name=".jumppart.bpart.BCRedactActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <!-- 汇声B超图片放大 -->
        <activity
            android:name=".jumppart.bpart.BCRedactActivityImg"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <!-- 汇声B超列表 -->
        <activity
            android:name=".jumppart.bpart.BCRedactTableList"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <!-- 小生化分析 -->
        <activity
            android:name=".jumppart.Jc_Bcm"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".jumppart.Jc_bcm_content"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>